* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F8FF;
}

header {
    background-color:#2E4A62 ;
}

main {
    color:#2E4A62
}
main .photo-perfil {
    padding-right: 2em;
}

main .datos-personales li {
    list-style: none;
    margin-top: 0.5em;
    min-width: 220px;
}

main .sidebar {
    padding-right: 2em;
}

footer {
    background-color:#2E4A62;
    color: #F0F8FF;
}

/*
color scheme:
#F0F8FF casi blanco
#D1DCE5
#A3C5D9
#6A9FB5
#2E4A62 azul oscuro nav
*/