* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0F8FF;
}

header {
    background-color:#2E4A62 ;
}

main {

}

footer {

}

/*
color scheme:
#F0F8FF casi blanco
#D1DCE5
#A3C5D9
#6A9FB5
#2E4A62 azul oscuro nav
*/